
{
  "extends": "airbnb-base",
  "rules": {

    "no-underscore-dangle": ["error", { "allow": ["foo_", "_bar", "_id"] }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "quotes": [2, "double", { "avoidEscape": true }]
  }
}

